@use '../util/' as u;

.carousel {
    width: 80%;
    margin: 0 auto 10% auto;
    position: relative;    

    &__headling {
        font-weight: 500;
        font-size: 4.8rem;
        text-align: center;
        color: u.$font-color;
        margin-bottom: 50px;         
    }

    @media screen and (max-width: 400px) {
        &__headling {            
            font-size: 3.8rem;                   
        }
    }

    &__container {
        position: relative;
        height: 480px;
        margin-bottom: 30px;
    }

    &__box-toplayer {
        position: absolute;
        transition: all 1s ease;
    }

    &__box {
        width: 450px;
        height: 480px;
        background-color: white;
        position: relative;
        border-radius: 14px;
        margin-right: 30px;
    }

    @media screen and (max-width: 450px) {
        .carousel__box {
            width: 380px;       
        }
    }

    @media screen and (max-width: 350px) {
        .carousel__box {
            width: 300px;       
        }
    }

    &__data {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__data-img {
        margin-bottom: 25px;
    }

    &__data-para-paragraph {
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: 1px;
        margin-bottom: 80px;
        color: u.$font-color;
    }

    &__data-client {
        display: flex;
        align-items: center;
    }

    &__data-namepost {
        margin-left: 30px;
    }

    &__data-name {
        font-size: 2rem;
        color: u.$font-color;
        margin-bottom: 5px;
    }

    &__data-post {
        font-size: 1.4rem;
        color: u.$font-color-grey;
    }

    &__btn {
        position: absolute;
        right: 0;
    }

    &__btn-left {
        background-color: transparent;
        outline: none;
        border: none;
    }

    &__btn-right {
        background-color: transparent;
        outline: none;
        border: none;
    }

    &__btn-left-style {
        padding: 10px;
        font-size: 3rem;
        color: u.$font-color-grey;
    }

    &__btn-right-style {
        padding: 10px;
        font-size: 3rem;
        color: u.$main-color;
    }

}

@media screen and (max-width: 800px) {
    .carousel {
         margin-bottom: 20%;   
    }   
}

@media screen and (max-width: 438px) {
    .carousel {
        margin-bottom: 30%;   
   }  
}