$white: white;
$main-color: #0AB3E4;
$background: #F5F7FA;  
$font-color: #233B5B; 
$font-color-grey: #BBC8D4;
$btn-color-grey: #BBC8D4;
$footer-background: #21283B; 
$footer-font-color: rgba(245, 247, 250, 0.3);
$footer-heading-color: #F5F7FA;
$footer-form-input-bColor: rgba(255, 255, 255, 0.2); 
$footer-form-input-textColor: rgba(187, 200, 212, 0.3);     